<div class="card">
    <div class="card-header">
        <strong>Products Select</strong>
        <small>Form</small>
    </div>
    <div class="card-body">
        <h4>Please add all products that needs to be include in your manual order.</h4>
        
    <div class="form-group" *ngFor="let p of simpleProducts; let i = index" >
            <label for="name">{{p.name}}</label>
            <input type="checkbox" [(ngModel)]="p.checked"/>
            
        </div>

        

        






    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-sm btn-primary" (click)="addOrder()"><i class="fa fa-dot-circle-o"></i>
            Add Order</button>
        <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i>Reset</button>
    </div>
</div>
