<div class="card">
    <div class="card-header">
        <strong>Order</strong>
        <small>Form</small>
    </div>
    <article class="card-body">
        <div class="row">
            <aside class="col-md-6 border-right">
                <h4>Order Details</h4>
                <dl class="item-property">
                    <dt>Product</dt>
                    <dd>{{product.name}}</dd>
                </dl>

                <div>
                    <img src="../../../../assets/img/p1.jpg" height="200px" width="150px">
                </div>

                <dl class="item-property">
                    <dt>Unit Price</dt>
                    <dd>{{product.currencyType}} {{product.unitPrice}}</dd>
                </dl>

                <dl class="item-property">
                    <dt>Unit Quantity</dt>
                    <dd>{{product.unitQuantity}} {{product.siUnit}}</dd>
                </dl>


            </aside>
            <aside class="col-md-6">
                <dl class="item-property">
                    <dt>Product Stock Type</dt>
                    <dd>{{stock.stockType}}</dd>
                </dl>

                <dl class="item-property">
                    <dt>Product Avalability</dt>
                    <dd>{{stock.availableQuantity}} {{product.siUnit}}s in stock</dd>
                </dl>

                <dl class="item-property">
                    <dt>Seller Name</dt>
                    <dd>{{user.firstname}} {{user.lastname}}</dd>
                </dl>

                <dl class="item-property">
                    <dt>Seller Email</dt>
                    <dd>{{user.email}}</dd>
                </dl>

                <dl class="item-property">
                    <dt>Seller Contact No</dt>
                    <dd>{{user.mobile}}</dd>
                </dl>

                <dl class="item-property">
                    <dt>Buisness Name</dt>
                    <dd>
                        <h5>{{user.buisnessName}}</h5>
                    </dd>
                </dl>

                <dl class="item-property">
                        <dt>Order Total Price</dt>
                        <dd>
                        {{orderedProduct.subTotal}} {{product.currencyType}}
                        </dd>
                    </dl>

                






            </aside>

        </div>
        <div class="form-group">
            <label for="dDate">Quantity</label>
            <input type="number" class="form-control" id="dDate" placeholder="Order Quantity" [(ngModel)]="orderedProduct.requiredQuantity" (keyup)="getTotalPrice($event)" name="reqQuantity" #reqQuantity= "ngModel">
        </div>

        <div class="form-group">
            <label for="cost">Destination</label>
            <input type="text" class="form-control" id="cost" placeholder="Order Destination" [(ngModel)]="order.orderLocation" name="destination" #destination= "ngModel">
        </div>

        <div class="form-group">
            <label for="dDate">Expected Date</label>
            <input type="date" class="form-control" id="dDate" placeholder="Delivery Date" [(ngModel)]="order.orderExpirationDate" name="expDate" #expDate= "ngModel">
        </div>



    </article>
    <div class="card-footer">
        <button type="button" class="btn btn-sm btn-primary" (click)="placeOrder()"><i class="fa fa-dot-circle-o"></i>
            Purchase Order</button>
        <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i>Reset</button>
    </div>
</div>