<div class="card">
    <div class="card-body">

            <div style="overflow-x:auto;">
        <table class="table table-bordered table-sm">
            <thead>
                <tr>
                    <th>Delivery Id</th>
                    <th>Cost</th>
                    <th>Type</th>
                    <th>Actions</th>                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let d of deliveries">
                    <td>{{d.id}}</td>
                    <td>{{d.deliveryCost}}</td>
                    <td>{{d.deliveryType}}</td>
                    <td><button type="button" class="btn btn-sm btn-primary" (click)="update(d.id)"><i class="fa fa-dot-circle-o"></i>
                        Update</button></td>
                    


                   
                </tr>

            </tbody>
        </table>
        </div>
        <!--nav>
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                <li class="page-item" *ngFor="let p of pages; let i=index">
                    <a class="page-link" href="#" (click)="setPage(i, $event)">{{i+1}}</a>
                </li>
            </ul>
        </nav-->
    </div>

</div>

