<div class="card">
    <div class="card-body">

            <div style="overflow-x:auto;">
        <table class="table table-bordered table-sm">
            <thead>
                <tr>
                    <th>Order Id</th>
                    <th>No of Products</th>
                    <th>Order Expire Date</th>
                    <th>Total Price</th>
                    <th>Location</th>
                    <th>Seller Confirmation</th>
                    <th>Buyer Confirmation</th>
                                       
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of orders" (click)="details(order.id)">
                    <td>{{order.id}}</td>
                    <td>{{order.noOfProducts}}</td>
                    <td>{{order.orderExpirationDate | date:shortDate }} </td>
                    <td>{{order.totalPrice}}</td>
                    <td>{{order.orderLocation}}</td>
    
                    <td><span *ngIf="order.sellerConfirmation" class="badge badge-primary">Confirmed.</span>
                        <span *ngIf="!order.sellerConfirmation" class="badge badge-danger">Not Confirmed.</span>
                    </td>
                    <td><span *ngIf="order.buyerConfirmation" class="badge badge-primary">Confirmed.</span>
                        <span *ngIf="!order.buyerConfirmation" class="badge badge-danger">Not Confirmed.</span>
                    </td>
                   


                   
                </tr>

            </tbody>
        </table>
        </div>
        <!--nav>
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                <li class="page-item" *ngFor="let p of pages; let i=index">
                    <a class="page-link" href="#" (click)="setPage(i, $event)">{{i+1}}</a>
                </li>
            </ul>
        </nav-->
    </div>

</div>
