<div class="card">
    <div class="card-header">
        <strong>Transaction</strong>
        <small>Form</small>
    </div>
    <div class="card-body">
        <div class="form-group">
            <label for="name">Employee Name</label>
            <input type="text" class="form-control" (keyup)="getEmployees($event)" list="employeeNames"
                id="employeeName" placeholder="Name" [(ngModel)]="employeeName">
            <datalist id="employeeNames">
                <option *ngFor="let e of employeeNames" [value]="e">{{e}}</option>
            </datalist>
        </div>

        <div class="form-group">
            <label for="transactionType">Transaction Type</label>
            <select class="form-control" id="transactionType" [(ngModel)]="transaction.transactionType"
                name="transactionType" #transactionType="ngModel">
                <option value="SALARY_PAYMENT">Salary Payment</option>
                <option value="OTHER_PAYMENT">Other Payment</option>
                <option value="OTHER_EARNING">Other Earning</option>
            </select>
        </div>

        <div class="form-group">
            <label for="date">Date</label>
            <input type="date" class="form-control" id="date" placeholder="Date"
                [(ngModel)]="transaction.transactionDate" name="transactionDate" #transactionDate="ngModel">
        </div>

        <div class="form-group">
            <label for="time">Time</label>
            <input type="time" class="form-control" id="time" placeholder="Time"
                [(ngModel)]="transaction.transactionTime" name="transactionTime" #transactionTime="ngModel">
        </div>

        <div class="form-group">
            <label for="amount">Amount</label>
            <input type="text" class="form-control" id="amount" placeholder="Amount" [(ngModel)]="transaction.amount"
                name="amount" #amount="ngModel">
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <textarea type="text" class="form-control" id="description" placeholder="Description"
                [(ngModel)]="transaction.description" name="description" #description="ngModel"></textarea>
        </div>






    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-sm btn-primary" (click)="register()"><i class="fa fa-dot-circle-o"></i>
            Register</button>
        <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i>Reset</button>
    </div>
</div>