<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12 col-md mb-sm-2 mb-0">
                    <div class="text-muted">Unconfirmed Orders</div>
                    <strong>{{unconfirmed}} orders</strong>
                    <div class="progress progress-xs mt-2">
                      <div class="progress-bar bg-danger" role="progressbar" [ngStyle]="{width: unconfirmed+ '%'}" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md mb-sm-2 mb-0">
                    <div class="text-muted">Seller Ratings</div>
                    <strong>{{rate | number: '1.1-2'}} %</strong>
                    <div class="progress progress-xs mt-2">
                      <div class="progress-bar" role="progressbar" [ngStyle]="{width: rate+ '%'}" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <strong>Orders to confirm</strong>
        <small></small>
    </div>
  <div class="card-body">
  
      <div style="overflow-x:auto;">
      <table class="table table-bordered table-sm">
          <thead>
              <tr>
                  <th scope="col">Order Id</th>
                  <th scope="col">No of Products</th>
                  <th scope="col">Order Expire Date</th>
                  <th scope="col">Total Price</th>
                  <th scope="col">Location</th>
                  <th scope="col">Order Status</th>
                  <th scope="col">Seller Confirmation</th>
                  <th scope="col">Buyer Confirmation</th>
                                     
              </tr>
          </thead>
          <tbody>
              <tr scope="row" *ngFor="let order of orders" (click)="details(order.id)">
                  <td>{{order.id}}</td>
                  <td>{{order.noOfProducts}}</td>
                  <td>{{order.orderExpirationDate}} </td>
                  <td>{{order.totalPrice}}</td>
                  <td>{{order.orderLocation}}</td>
                  <td><span class="badge badge-primary">{{order.orderStatus}}</span></td>
                  <td><span *ngIf="order.sellerConfirmation" class="badge badge-primary">Confirmed.</span>
                      <span *ngIf="!order.sellerConfirmation" class="badge badge-danger">Not Confirmed.</span>
                  </td>
                  <td><span *ngIf="order.buyerConfirmation" class="badge badge-primary">Confirmed.</span>
                      <span *ngIf="!order.buyerConfirmation" class="badge badge-danger">Not Confirmed.</span>
                  </td>
                 


                 
              </tr>

          </tbody>
      </table>
    </div>
      <!--nav>
          <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Prev</a></li>
              <li class="page-item" *ngFor="let p of pages; let i=index">
                  <a class="page-link" href="#" (click)="setPage(i, $event)">{{i+1}}</a>
              </li>
          </ul>
      </nav-->
  </div>

</div>