<div class="card" *ngFor="let o of orders">
       
        <article class="card-body">
            <div class="row">
                <aside class="col-md-6 border-right">
                    <h4>Order {{o.id}}</h4>
                    <dl class="item-property">
                        <dt>Product</dt>
                        <dd>{{o.productDto.name}}</dd>
                    </dl>
    
                    <div>
                        <img src="../../../../assets/img/p1.jpg" height="200px" width="150px">
                    </div>
    
                    <dl class="item-property">
                        <dt>Total Price</dt>
                        <dd>{{o.productDto.currencyType}} {{o.totalPrice}}</dd>
                    </dl>
    
                    <dl class="item-property">
                        <dt>Total Quantity</dt>
                        <dd>{{o.requiredQuantity}} {{o.productDto.siUnit}}</dd>
                    </dl>

                   
    
                </aside>
                <aside class="col-md-6">
                    <dl class="item-property">
                        <dt>Order Status</dt>
                        <dd>{{o.orderStatus}}</dd>
                    </dl>
    
                    <dl class="item-property">
                        <dt>Destination</dt>
                        <dd>{{o.orderLocation}}</dd>
                    </dl>
    
                    <dl class="item-property">
                        <dt>Seller Name</dt>
                        <dd>{{o.userDto.firstname}} {{o.userDto.lastname}}</dd>
                    </dl>
    
                    <dl class="item-property">
                        <dt>Seller Email</dt>
                        <dd>{{o.userDto.email}}</dd>
                    </dl>
    
                    <dl class="item-property">
                        <dt>Seller Contact No</dt>
                        <dd>{{o.userDto.mobile}}</dd>
                    </dl>

    
    
                    <dl class="item-property">
                        <dt>Buisness Name</dt>
                        <dd>
                            <h5>{{o.userDto.buisnessName}}</h5>
                        </dd>
                    </dl>
    
                    <dl class="item-property">
                            <dt>Seller Confirmation</dt>
                            <dd><span *ngIf="o.sellerConfirmation" class="badge badge-primary">Confirmed.</span>
                                <span *ngIf="!o.sellerConfirmation" class="badge badge-danger">Not Confirmed.</span></dd>
                        </dl>

                        <dl class="item-property">
                                <dt>Buyer Order Received Confirmation</dt>
                                <dd><span *ngIf="o.buyerConfirmation && !o.cancellation" class="badge badge-primary">Confirmed.</span>
                                    <span *ngIf="!o.buyerConfirmation && !o.cancellation " class="badge badge-danger">Not Confirmed.</span>
                                    <span *ngIf="o.cancellation" class="badge badge-danger">Order Cancelled By Buyer.</span>
                                </dd>
                            </dl>
                    
    
    
    
    
    
    
                </aside>
    
            </div>
    
    
    
        </article>
        <div class="card-footer">
            <button *ngIf="!o.cancellation" type="button" class="btn btn-sm btn-primary" (click)="buyerConfirmOrder(o.id)"><i class="fa fa-dot-circle-o"></i>
                Order Receive Confirm</button>
            <button *ngIf="!o.cancellation" type="button" class="btn btn-sm btn-danger" (click)="buyerCancelOrder(o.id)"><i class="fa fa-ban"></i> Order Cancel</button>
            <button *ngIf="!o.cancellation" type="button" class="btn btn-sm btn-success" (click)="rate(o.userDto.id)"><i class="fas fa-rate"></i>
                Rate Seller</button>
        </div>
    </div>
