<div class="card">
    <div class="card-body">
        <button type="button" class="btn btn-sm btn-primary" (click)="sellerLogin()"><i class="fa fa-dot-circle-o"></i>
            Seller Login</button>

        <button type="button" class="btn btn-sm btn-success" (click)="buyerSection()"><i class="fa fa-dot-circle-o"></i>
            Buyer Section</button>

        <button type="button" class="btn btn-sm btn-success" (click)="buyerRegister()"><i
                class="fa fa-dot-circle-o"></i>
            Buyer Register</button>

        <button type="button" class="btn btn-sm btn-success" (click)="sellerRegister()"><i
                class="fa fa-dot-circle-o"></i>
            Seller Register</button>
    </div>


</div>