<div *ngIf = 'isOpen'>
    <br><br><br>
        <button type="button" class="btn btn-sm btn-warning" style="width:100%; margin: 5px"  (click)="sellerLogin()"><i class="fa fa-dot-circle-o"></i>
            Seller Login</button>

        <button type="button" class="btn btn-sm btn-warning" style="width:100%; margin: 5px" (click)="buyerSection()"><i class="fa fa-dot-circle-o"></i>
            Buyer Section</button>

        <button type="button" class="btn btn-sm btn-warning" style="width:100%; margin: 5px" (click)="buyerRegister()"><i
                class="fa fa-dot-circle-o"></i>
            Buyer Register</button>

        <button type="button" class="btn btn-sm btn-warning" style="width:100%; margin: 5px" (click)="sellerRegister()"><i
                class="fa fa-dot-circle-o"></i>
            Seller Register</button>
      </div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        
          <a class="navbar-brand" [routerLink]="[ '/']"><img src="../../assets/img/imgs/m1.png" width="40px" height="40px"></a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false"
            aria-label="Toggle navigation"
            (click) = "openmenu()"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" href="#">Home</a>
                </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="[ 'buyer/register']">Buyer Registration</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="[ 'register']">Seller Registration</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" [routerLink]="[ 'login']">Login</a>
                </li>
            </ul>
          </div>
        
      </nav>
      
      <!-- Header -->
      <header class="bg-primary py-5 mb-5">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-lg-12">
              <h1 class="display-4 text-white mt-5 mb-2">
                My Manager
              </h1>
              <p class="lead mb-5 text-white-50">
                Welcome to small scale business management system.
              <p>
            </div>
          </div>
        </div>
      </header>
      
      <!-- Page Content -->
      <div class="container">
       
            <div class="card">
                <div class="card-header">
                    <h3>What we do</h3>
                </div>
      
                <div class="card-body">
      
              </div>
            </div>
      
           
      
            <!--div class="col-md-8 mb-5">
            <h2>What We Do</h2>
            <hr/>
           
            <p> sfjsdhfskj</p>
            
            <a class="btn btn-primary btn-lg" href="#">Login &raquo;</a>
          </!--div>
          <div class="col-md-4 mb-5">
            <h2>Contact Us</h2>
            <hr />
            <address>
              <strong>My Manager</strong>
              <br />Faculty of Engineering <br />University of Ruhuna, Galle
              <br />
            </address>
            <address>
              <abbr title="Phone">P:</abbr>
              (123) 456-7890
              <br />
              <abbr title="Email">E:</abbr>
              <a href="mailto:#">shanga@gmail.com</a>
            </address>
          </div-->
        
        <!-- /.row -->
      
        <div class="row">
          <div class="col-md-4 mb-5">
            <div class="card h-100">
              <img class="card-img-top" src="../../assets/img/imgs/products-standard.jpg" width="300px" height="200px" alt="Italian Trulli" alt="" />
              <div class="card-body">
                <h4 class="card-title">e-Product</h4>
                <p class="card-text">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente
                  esse necessitatibus neque sequi doloribus.
                </p>
              </div>
            
            </div>
          </div>
          <div class="col-md-4 mb-5">
            <div class="card h-100">
              <img class="card-img-top" src="../../assets/img/imgs/order.jpg" width="300px" height="200px" alt="Italian Trulli" alt="" />
              <div class="card-body">
                <h4 class="card-title">e-Order</h4>
                <p class="card-text">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente
                  esse necessitatibus neque sequi doloribus totam ut praesentium aut.
                </p>
              </div>
              
            </div>
          </div>
          <div class="col-md-4 mb-5">
            <div class="card h-100">
              <img class="card-img-top" src="../../assets/img/imgs/employees.jpg" width="300px" height="200px" alt="Italian Trulli" alt="" />
              <div class="card-body">
                <h4 class="card-title">e-Employee</h4>
                <p class="card-text">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente
                  esse necessitatibus neque.
                </p>
              </div>
             
            </div>
          </div>
          <div class="col-md-4 mb-5">
              <div class="card h-100">
                  <img class="card-img-top" src="../../assets/img/imgs/stock.jpg" width="300px" height="200px" alt="Italian Trulli" alt="" />
                <div class="card-body">
                  <h4 class="card-title">e-Stock</h4>
                  <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente
                    esse necessitatibus neque.
                  </p>
                </div>
              
              </div>
            </div>
            <div class="col-md-4 mb-5">
              <div class="card h-100">
                  <img class="card-img-top" src="../../assets/img/imgs/delivery.jpg" width="300px" height="200px" alt="Italian Trulli" alt="" />
                <div class="card-body">
                  <h4 class="card-title">e-Delivery</h4>
                  <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente
                    esse necessitatibus neque.
                  </p>
                </div>
              
              </div>
            </div>
        </div>
        <!-- /.row -->
      </div>

      <div class="text-center">
      <button type="button" class="btn btn-primary" style="width: 50%; margin-bottom: 20px" (click)="buyerSection()">
            <i class="far fa-arrow-alt-circle-right"></i><h3>Shop With Us..!</h3> </button>
      <!-- /.container -->
    </div>
      
      
      <!-- Footer -->
      <footer class="py-5 bg-dark">
        
          
         <div class="text-center"> 
            <h1>Contact Us</h1>
            
            <address>
              <strong>My Manager</strong>
              <br />Faculty of Engineering <br />University of Ruhuna, Galle
              <br />
            </address>
            <address>
              <abbr title="Phone">P:</abbr>
              (123) 456-7890
              <br />
              <abbr title="Email">E:</abbr>
              <a href="">shanga@gmail.com</a>
            </address>
          
        </div>
        <!-- /.container -->
      </footer>